/*Hover Images (start)*/
ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
	width: 360px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 110px;
	height: 110px;
}
ul.thumb li img {
	width: 100px;
	height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 1px;
	top: 5px;
}
ul.thumb li img.hover {
	background:url(file:thumb_bg.png) no-repeat center center;
	border: none;
}
/*Hover Images (end)*/

/*Fonts (start)*/
@font-face {
	font-family: 'Playball-Regular';
	src: url('https://coder-mole.github.io/club-portal/fonts/Playball-Regular.ttf');
	src: local('Playball-Regular'), local('Playball-Regular'), url('https://coder-mole.github.io/club-portal/fonts/Playball-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Albatross';
	src: url('https://coder-mole.github.io/club-portal/fonts/Albatross.ttf');
	src: local('Albatross'), local('Albatross'), url('https://coder-mole.github.io/club-portal/fonts/Albatross.ttf') format('truetype');
}
@font-face {
	font-family: 'Domo';
	src: url('https://coder-mole.github.io/club-portal/fonts/DOMOAN__.TTF.ttf');
	src: local('Domo'), local('Domo'), url('https://coder-mole.github.io/club-portal/fonts/DOMOAN__.TTF') format('truetype');
}
/*Fonts (end)*/

/*info (start)*/
}
.tel
{
  content: "07813 051768";
}
/*info (end)*/
	
/*Layout and Design (start)*/
.left{
    float: left;
}
.right{
    float: right;
}
#container{
	width: 960px;
	margin: 0 auto;
	min-width: 960px;
	background-color: #fff;
}
#topBarLeft {
	position: static;
	float: left;
	clear: none;
	display: inline-block;
	width: 320px;
	text-align: left;
	color: #fff;
	background-color: #000;
	padding: 5px 5px 5px 5px;
#topBarMiddle {
	position: static;
	float: left;
	clear: none;
	display: inline-block;
	width: 320px;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 5px 5px 5px 5px;
}
#topBarRight {
	position: static;
	float: left;
	clear: none;
	display: inline-block;
	width: 320px;
	text-align: right;
	color: #fff;
	background-color: #000;
	padding: 5px 5px 5px 5px;
}
#logo {
	margin: 9px 5px 0px 0px;
	width: 190px;
	position: relative;
	float: left;
	background-color: #fff;
	height: 127px;
	display: inline-block;
	background-image: url(https://coder-mole.github.io/club-portal/images/rskclogo.png);
	clear: both;
}
.titleHolder {
	position: relative;
	float: left;
	width: 960px;
	height: 40px;
	background-color: #fff;
	padding: 0px 5px 0px 5px;
	display: inline-block;
	clear: none;
	text-align: left;
	font-family: Playball-Regular;
	font-size: 40px;
	background-color: #fff;
	color:#B8860B;
}
.left-headText1 {
	font-size: 28px;
	text-align: left;
	display: block;
	padding: 0px;
}
.left-headText2 {
	font-size: 20px;
	text-align: left;
}
.leftText {
	font-size: 16px;
	text-align: left;
}
.span {
	color: #B8860B;
}
#title-edge-shadow {
	position: relative;
	width: 8px;
	height: 127px;
	margin: 0px 0px 0px 0px;
	background-color: #ff0000;
	display: inline-block;
}
#top-nav-holder {
	position: relative;
	float: left;
	clear: both;
	display: inline-block;
	width: 960px;
	height: 77px;
	background-color: #fff;
}
#info-bar {
	position: relative;
	float: left;
	clear: both;
	display: inline-block;
	width: 960px;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
}
.navbar-left {
	width: 220px;
	float: left;
	background-color: #fff;
}
/*.left-content {
	margin: 0px;
	padding: 0px;
	width: 220px;
	float: left;
}*/
/*.right-content {
	margin: 0px;
	width: 715px;
	float: left;
}*/
.content {
/*	font-family: Tahoma;*/
/*	font-size: 14px;*/
/*	color: #000;*/
	background-color: #fff;
	position: relative;
	float: left;
/*	clear: both;*/
	width: 960px;
	height: auto;
}
.main-content {
	font-family: Tahoma;
	font-size: 14px;
	text-align: left;
	display: block;
	width: 740px; /*was */
	margin-bottom: -7px;
	position: relative;
	float: left; /*was right*/
	height: auto;
	color: #000; /*was #2f4f4f - Dark Slate Grey*/
	background-color: #fff;
	margin-left: auto;
	padding: 0px 5px 40px 5px;
	clear: none;
}
.gold-text {
	color: #B8860B;
}
#container .content .main-content .centre {
	font-size: 30px;
}
.centreText1
{
	font-family: Tahoma;
	font-size: 28px;
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
}
.centreText2
{
	font-family: Tahoma;
	font-size: 18px;
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
}
.centreImage
{
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 10px 10px 5px 10px;
}
.address-text {
  	float: left;
	text-align: left;
	color: #000;
/*	position: relative;*/
}
.contact-info {
	float: right;
	text-align: left;
	color: #000;
/*	position: inherit;*/
}
.base-bar {
	font-size: 16px;
	text-align: center;
	clear: both;
	position: relative;
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	color: #000;
	padding: 2px 0px 2px 0px;
}
.hosting {
	font-family: Tahoma, Geneva, sans-serif;
	float: left;
	text-align: left;
	font-size: 10px;
	color: #000;
	padding: 4px 4px 4px 4px;
}
.designer {
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	text-align: left;
	font-size: 10px;
	color: #000;
	padding: 4px 4px 4px 4px;
}
/*Layout and Design (end)*/
